---
const getYear = (date) => {
  return new Date(date).getFullYear()
}

const { url, page } = Astro.props
const data = page.data
---

<div class="flex-1">
  <div class="grid grid-cols-12 py-2 px-main text-sm row-gap font-mono">
    <div class="title">title</div>
    <div class="type">type</div>
    <div class="date">
      <div class="flex justify-end">date</div>
    </div>
  </div>
  <div class="border-b border-light-text dark:border-dark-border">
    {data.map((post, index, data) => {
      const title = post.frontmatter.title
      const category = post.frontmatter.category
      let date = post.frontmatter.date
      const postUrl = `${url}/posts/${post.frontmatter.path}`

      let newYear = false
      let year = 0
      if (
        index &&
        getYear(data[index - 1].frontmatter.date) !== getYear(date)
      ) {
        newYear = true
        year = getYear(date)
      } else if (!index) {
        newYear = true
        year = getYear(data[0].frontmatter.date)
      }
      date = new Date(date)
      return (
        <div>
          {newYear && (
            <div class="px-main cursor-default border-t border-light-text bg-zinc-300 py-2 text-right text-sm dark:border-dark-border dark:bg-stone-800">
              {year}
            </div>
          )}
          <a href={postUrl}>
            <div class="row underline-offset-1 hover:underline">
              <div class="title break-words">{title}</div>
              <div class="type break-words">{category}</div>
              <div class="date break-words">
                <div class="flex justify-end">{`${
                  date.getMonth() + 1
                }/${date.getDate()}`}</div>
              </div>
            </div>
          </a>
        </div>
      )
    })}
  </div>
</div>
