---
const posts = Astro.fetchContent('../pages/posts/*.md')
---

<div class="px-4">
  <div class="grid grid-cols-12 py-2 text-xs gap-2">
    <div class="col-span-7">title</div>
    <div class="col-span-3">type</div>
    <div class="col-span-2">
      <div class="flex justify-end">date</div>
    </div>
  </div>
  <div class="border-b border-light-text">
    {posts
      .sort((a, b) => b.year - a.year)
      .map(({ title, category, date, year, url }, index, posts) => {
        let newYear = false
        if (index && posts[index - 1].year !== year) {
          newYear = true
        } else if (!index) {
          newYear = true
          year = posts[index].year
        }
        return (
          <div>
            {newYear &&
              `<div class="border-t border-light-text bg-slate-100 text-right
              text-sm  py-2 cursor-default">${year}</div>`}
            <a class="hover:text-primary" href={url}>
              <div class="grid grid-cols-12 border-t border-light-text py-3 gap-2">
                <div class="col-span-7 break-all md:break-words">{title}</div>
                <div class="col-span-3 break-all md:break-words">
                  {category}
                </div>
                <div class="col-span-2 break-all md:break-words">
                  <div class="flex justify-end">{date}</div>
                </div>
              </div>
            </a>
          </div>
        )
      })}
  </div>
</div>
