---
const posts = Astro.fetchContent('../pages/posts/*.md')
---

<div class="px-4">
  <div class="flex flex-row py-2 text-xs gap-2">
    <div class="flex-none basis-2/3">title</div>
    <div class="flex-auto">type</div>
    <div class="flex-none basis-1/6 text-right">date</div>
  </div>
  <div class="border-b border-light-text">
    {posts
      .sort((a, b) => b.year - a.year)
      .map(({ title, category, date, year, url }, index, posts) => {
        let newYear = false
        if (index && posts[index - 1].year !== year) {
          newYear = true
        } else if (!index) {
          newYear = true
          year = posts[index].year
        }
        return (
          <div>
            {newYear &&
              `<div class="border-t border-light-text bg-slate-100 text-right
              text-sm  py-2 cursor-default">${year}</div>`}
            <a class="hover:text-primary" href={url}>
              <div class="flex flex-row border-t border-light-text py-3 gap-2">
                <div class="flex-none basis-2/3">{title}</div>
                <div class="flex-auto">{category}</div>
                <div class="flex-none basis-1/6 text-right">{date}</div>
              </div>
            </a>
          </div>
        )
      })}
  </div>
</div>
