---
const posts = await Astro.glob('../pages/posts/*.md')

const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date)
  const dateB = new Date(b.frontmatter.date)
  let order = dateB.getFullYear() - dateA.getFullYear()
  if (order === 0) {
    order = dateB.getMonth() - dateA.getMonth()
  }
  if (order === 0) {
    order = dateB.getDate() - dateA.getDate()
  }
  return order
})

const getYear = (date) => {
  return new Date(date).getFullYear()
}
---

<div class="flex-1">
  <div class="grid grid-cols-12 py-2 px-main text-sm row-gap font-mono">
    <div class="title">title</div>
    <div class="type">type</div>
    <div class="date">
      <div class="flex justify-end">date</div>
    </div>
  </div>
  <div class="border-b border-light-text dark:border-dark-border">
    {sortedPosts.map((post, index, sortedPosts) => {
      const title = post.frontmatter.title
      const category = post.frontmatter.category
      let date = post.frontmatter.date
      const url = post.url

      let newYear = false
      let year = 0
      if (
        index &&
        getYear(sortedPosts[index - 1].frontmatter.date) !== getYear(date)
      ) {
        newYear = true
        year = getYear(date)
      } else if (!index) {
        newYear = true
        year = getYear(sortedPosts[0].frontmatter.date)
      }
      date = new Date(date)
      return (
        <div>
          {newYear && (
            <div class="px-main cursor-default border-t border-light-text bg-zinc-300 py-2 text-right text-sm dark:border-dark-border dark:bg-stone-800">
              {year}
            </div>
          )}
          <a class="hover-animation" href={url}>
            <div class="row">
              <div class="title break-words">{title}</div>
              <div class="type break-words">{category}</div>
              <div class="date break-words">
                <div class="flex justify-end">{`${
                  date.getMonth() + 1
                }/${date.getDate()}`}</div>
              </div>
            </div>
          </a>
        </div>
      )
    })}
  </div>
</div>
